server:
  port: 2333
  address: 0.0.0.0
lavalink:
  plugins:
    - dependency: "dev.lavalink.youtube:youtube-plugin:1.16.0"
      repository: "https://maven.lavalink.dev/releases"
    - dependency: "com.github.topi314.lavasrc:lavasrc-plugin:4.8.1"
      repository: "https://maven.lavalink.dev/releases"
  server:
    password: "youshallnotpass"
    sources:
      youtube: true
      bandcamp: true
      soundcloud: true
      twitch: true
      vimeo: true
      http: true
      local: false
    bufferDurationMs: 400
    frameBufferDurationMs: 5000
    opusEncodingQuality: 10
    resamplingQuality: HIGH
    trackStuckThresholdMs: 10000
    # IP ROTATION CONFIGURATION
    ratelimit:
      # Your specific Oracle IPv6 Block
      ipBlocks: ["2603:c020:401e:4100::/64"]
      excludedIps: []
      strategy: "RotateOnBan"
      searchTriggersFail: true
      retryLimit: -1

plugins:
  youtube:
    enabled: true
    allowSearch: true
    allowDirectVideoIds: true
    allowDirectPlaylistIds: true
    # Full YouTube setup prioritizes WEB client for best metadata/PoToken usage
    clients: ["TV_HTML5_EMBEDDED", "ANDROID_TESTSUITE", "WEB"]
    pot:
      token: "MnhNr7FAg4JpJk2Tljj7TCRaE3-8kQp653E4SLJs_P1dTqwGUWjHRzocxgZYc27-a_imoH7NXPd5ZOtNEC9a2nxhylpQ7OORl7GLLWYfUttF-ouXIO6-fkaB9_-XOC4s_R7_7jnUbOYq4cx5r8zOElpaRIwrYX1NyI8="
      visitorData: "Cgt4ZFhGS0tUMk04MCjFoavLBjIKCgJVUxIEGgAgDg%3D%3D"
  lavasrc:
    sources:
      youtube: false
      spotify: false
      applemusic: false
      deezer: false
      yandexmusic: false
      flowerytts: false